/*
Theme Name: iCandy
Theme URI: http://nischalmaniar.info/2010/02/icandy-theme/
Author URI: http://www.nischalmaniar.info
Description: Gorgeous Theme packed with tons of features and options. Custom header image, changeable background color, flexible sidebar width and location, paged navigation, widget ready. Check out the demo at http://nischalmaniar.info/wpthemes/?themedemo=iCandy
Version: 1.4
Author: Nischal Maniar
Tags: white, fixed-width, two-columns, custom-header, theme-options
*/

/* reset */

body, div, p, h1, h2, h3, h4, h5, h6, blockquote, form, ul, li, code, table, ol, pre, th, tr, td { margin: 0; padding: 0; word-spacing: 1px; }
.clear { clear: both; height: 0px; line-height: 0px; margin: 0; padding: 0; visibility: hidden; }
* { outline: none; }
a { color: #a82a00; text-decoration: none; }
a:hover { color: #5491e5; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif; padding-bottom: 10px; }
h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 15px; }
h5, h6 { font-size: 14px; }
.aligncenter, div.aligncenter { display: block; margin-left: auto; margin-right: auto; }
img.centered { display: block; margin-left: auto; margin-right: auto; }
img.alignright { padding: 4px; margin: 0 0 2px 7px; display: inline; }
img.alignleft { padding: 4px; margin: 0 7px 2px 0; display: inline; }
.alignright { float: right; }
.alignleft { float: left; }
a img { border: none; }
blockquote { background: #dedbda; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 10px; padding: 15px; }
blockquote p:first-letter { font-family: Georgia; font-size: 16px; }
address, pre { margin: 10px 0 10px 0; }
table { 
	border-collapse: collapse; 
	margin:1em 0;
	width:100%;
}
table th { background: #333; color: #fff; text-shadow: #333 1px 1px 1px; font-weight: normal; font-size: 14px; padding: 10px; }
table td { padding: 10px; }
.wp-caption { border: 1px solid #ddd; text-align: center; background: #fff url(../images/img_bg.png) repeat-x top; padding-top: 6px; margin: 10px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; background: none; }
.post-content .wp-caption img { margin: 0; padding: 0; border: 0 none; background: none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 6px 6px; margin: 0; }

/* body, wrapper */

body { background-image: url(../images/background.png); background-position: top center; background-repeat: no-repeat; text-align: center; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif; text-shadow: #fff 1px 1px 1px; color: #333; font-size: 12px; }
#wrapper { background-color: #f2f0ef; width: 900px; text-align: left; margin: 0 auto 0 auto; overflow: hidden; }

/* banner */

#banner h1 { font-weight: normal; padding: 52px 0 0 22px; font-size: 34px; font-family: Georgia; font-style: italic; text-transform: lowercase; text-shadow: #000 1px 1px 1px; }
#banner h1 a { text-decoration: none; }
#banner #description { padding: 7px 0 0 22px; font-size: 13px; font-style: italic; font-family: Georgia; text-shadow: #000 1px 1px 1px; }

.meta { float: right; }
.meta .metadiv { margin-left: 15px; float: left; background: url(../images/meta_bg.png) no-repeat top left; height: 32px; width: 32px; text-align: center; }
.meta .metadiv:hover { background-position: bottom left; }
.meta a { line-height: 32px; width: 32px; }
.meta a img { vertical-align: middle; }
#headerimg { height: 180px; width: 900px; }

/* search panel */

#searchpanel { width: 900px; height: 40px; background: url(../images/searchpanel_bg.png) repeat-x; }

.feed { float: right; width: 22px; height: 22px; margin: 9px; background: url(../images/feed_icon.png) top left no-repeat; }
.feed:hover { background-position: bottom left; }
.feed a span { visibility: hidden; }

.search { float: right; }
#search-theme-form { width: 205px; height: 27px; background: url(../images/search_bg.png) no-repeat; margin: 6px 0 7px 0; }
.s { width: 150px; height: 13px; font-size: 12px; color: #444; text-shadow: #fff 1px 1px 1px; margin: 7px 0 6px 30px; border: 0; font-family: Georgia; font-style: italic; background: none; }

/* sidebar */
#sidebar { float: left; }
#sidebar ul { list-style: none; }
#sidebar ul ul { margin: 0; padding: 0 10px 0 10px; }
#sidebar ul li { 
	//margin-bottom: 15px; 
	color: #333; 
	font-size: 12px;
}
#sidebar ul li a { color: #333; }
#sidebar ul li a:hover { color: #7fb337; }
#sidebar h2 { 
	background: url(../images/sidebar_h2.png) repeat-x; 
	height: 16px; 
	padding: 7px; 
	margin-bottom: 5px; 
	border-bottom: 1px #6fb93c solid; 
	text-align: center; 
}
#sidebar ul li h2 { font-size: 16px; color: #3e5324; }
#sidebar ul li li { display: block; text-transform: capitalize; margin: 0; padding: 4px 0px 4px 16px; background: url(images/sidebar_bullet.png) left top no-repeat; }

#sidebar div { padding: 10px 0px 10px 10px; }
#sidebar div { color: #333; }

#wp-calendar { width: 100%; font-size: 12px; display: table; }
#wp-calendar caption { padding-bottom: 3px; }
#wp-calendar th { background-color: #333; color: #fff; text-shadow: #000 1px 1px 1px; text-align: center; padding: 2px; }
#wp-calendar td { border-left: 1px #6fb93c solid; text-align: center; padding: 2px; }
#wp-calendar td:first-child { border: none; }
#wp-calendar tfoot td { border: none; }
#wp-calendar #prev { text-align: left; }
#wp-calendar #next { text-align: right; }
#wp-calendar tfoot a { color: #333; }
#wp-calendar tbody a { color: #7fb337; font-weight: bold; }
#wp-calendar #today { color: #7fb337; font-weight: bold; }

/* container */
#container { float: left; padding: 15px 20px 15px 20px; }
.templatetitle { font-family: Georgia, serif; font-style: italic; font-size: 20px; border-bottom: 1px #7fb337 solid; padding-bottom: 5px; margin-bottom: 30px; }
.templatetitle a { color: #333; }

/* posts */

.posts { list-style: none; }
.posts li { margin-bottom: 50px; }

.post-title { color: #333; font-size: 20px; padding-bottom: 3px; border-bottom: 1px #e0d3cc solid; }
.post-title a { color: #333; }
.post-title a:hover { color: #a82a00; }

.post-meta { font-size: 11px; margin-top: 5px; text-transform: capitalize; }
.post-meta p { margin-top: 5px; }
.post-meta a { color: #333; }
.post-meta a:hover { color: #7fb337; }
.meta-left { float: left; }
.meta-right { float: right; }
.postdate { background: url(../images/date_icon.png) left center no-repeat; line-height: 13px; padding-left: 23px; }
.postauthor { background: url(../images/author_icon.png) left center no-repeat; line-height: 13px; padding-left: 23px; }
.postcomments { background: url(../images/comment_icon.png) left center no-repeat; line-height: 13px; padding-left: 23px; }
.changesize { background: url(../images/expand_icon.png) left center no-repeat; line-height: 13px; padding-left: 23px; cursor: pointer; }
.changesize:hover { color: #7fb337 }
.changesize #fontsmall { font-size: 11px; }
.changesize #fontbig { font-size: 14px; }

.post-content { margin-top: 20px; line-height: 180%; }
.post-content p { margin-bottom: 13px; }
.post-content img { background: #fff url(../images/img_bg.png) repeat-x top; padding: 7px; border: 1px #ddd solid; }
.post-content .readmore { background: url(../images/readmore_icon.png) no-repeat right center; line-height: 13px; padding-right: 23px; }
.post-content .more-link { text-decoration: none; color: #7fb337; font-weight: bold; font-size: 12px; }
.post-content .more-link:hover { color: #5491e5; }

.post-content ul { margin: 0 0 0 20px; padding: 0; }
.post-content ul li { margin: 0; padding: 0; line-height: 250%; }
.post-content ol { margin: 0 0 0 20px; padding: 0; }
.post-content ol li { margin: 0; padding: 0; line-height: 250%; }

.post-pages { font-weight: bold; margin-top: 15px; display: block; }
.post-pages span a { font-weight: bold; }

.post-info { margin-top: 20px; font-size: 11px; border: 1px #cfd6c4 solid; background: #e6e6e5; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px; }
.post-category { background: url(images/category_icon.png) no-repeat left top; padding-left: 23px; margin-bottom: 5px; }
.post-tag { background: url(images/tag_icon.png) no-repeat left top; padding-left: 23px; margin-bottom: 5px; }
.info-left { float: left; margin-right: 15px; }
.info-right { float: right; }

.sharetoany { margin-top: 15px; }
.sharebutton { width: 129px; height: 19px; line-height: 19px; }
.sharebutton a { color: #fff; text-shadow: #7fb337 1px 1px 1px; font-size: 11px; }
.sharebutton { background: url(../images/share_bg.png) no-repeat top left; }
.sharebutton:hover { background-position: bottom left; }
.a2a_dd { width: 84px; padding-left: 45px; display: block; }

/* comments */

#comments { height: auto; margin-top: 50px; }
/*#comments span { visibility: hidden; }*/
.candy_tabs { list-style: none; margin: 0; padding: 0; }
.candy_tabs li { margin: 0; padding: 0; }
.candy_tabs li { height: 30px; line-height: 30px; cursor: pointer; }

#commentstab, #pingstab, #commentsrsstab { float: left; text-align: center; font-size: 13px; margin-right: 15px; }
.candytab { background: url(../images/candy_tabs_bg.png) no-repeat top left; width: 130px; color: #fff; text-shadow: #444 1px 1px 1px; }
.candy_tabs .selected { background-position: bottom left; text-shadow: #444 1px 1px 1px; }
#commentsrsstab { background: url(../images/comments_feed_icon.png) no-repeat; width: 30px; }
#commentsrsstab span { visibility: hidden; }

#writetab { float: right; font-size: 14px; }
#writetab { background: url(../images/write_bg.png) left center no-repeat; padding-left: 30px; }

#pings_section { display: none; }
.tab_content { margin-top: 40px; }
.commentslist { list-style: none; margin: 0; padding: 0; }
.commentslist li { padding: 20px 0 20px 0; margin: 0; border-top: 1px #e0d3cc solid; }
.commentslist li:first-child { padding-top: 0px; border: none; }
.commentslist li li:first-child { padding-top: 20px; }
.commentslist ul { list-style: none; }
.commentslist li li { padding: 20px 0 0 20px; border: none; }
.commentavatar { float: left; margin-right: 20px; }
.commentavatar img { border: 5px #fff solid; }
.commentmeta { float: left; }
.commentmeta p { margin-bottom: 5px; font-size: 11px; }
.returntop { float: right; margin-left: 10px; font-size: 11px; }
.returntop p { margin-bottom: 5px; }
.returntop a, .reply a { color: #777; text-decoration: underline; }
.reply { margin-top: 15px; }
.commentmeta .commentauthor { font-size: 16px; }
.commenttxt { margin: 10px 0 0 0; }
.commenttxt p { line-height: 180%; }
.emptycomments { font-size: 14px; font-family: Georgia, serif; font-style: italic; margin-left: 15px; }
.cancel-comment-reply { margin-bottom: 10px; }

/* comment form */

#respond { margin-top: 30px; }
#respond h2 { font-size: 16px; font-weight: bold; }
#commentform p { margin-bottom: 10px; }
#commentform p input { margin-bottom: 10px; }
/*#container input, #container textarea { 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	background: #d7e5c7; 
	padding: 7px; 
	border: 1px #ccc solid; 
}*/
#commentform p textarea { height: 130px; overflow: hidden; }
#container input:focus { background: #fff; border-color: #87bb44; }
#container textarea:focus { background: #fff; border-color: #87bb44; }
#container input.form-submit, input.teaser-button { color: #fff; text-shadow: #444 1px 1px 1px; font-size: 10px; text-transform: uppercase; cursor: pointer; }
#container input.form-submit, input.teaser-button  { background: url(../images/button_bg.png) no-repeat top left; width: 149px; height: 25px; border: none; }
#container input.form-submit:hover { background-position: bottom left; }

/* navigation */

.navigation-pages ul { list-style: none; margin:0; padding: 0; }
.navigation-pages li { display:inline; padding:0; margin:0; font-size:11px; text-shadow: #333 1px 1px 1px; }
.navigation-pages a, .navigation-pages a:visited, .navigation-pages a:hover, .navigation-pages span.current,
.navigation-pages span.pages, .navigation-pages span.extend, .navigation-pages span.current, .navigation-pages span.dots
 { background: url(../images/navigation_bg.png) no-repeat top left; color:#ffffff; display:block; line-height: 29px; width: 29px; float:left; margin-right: 5px; text-decoration: none; text-align:center; }
.navigation-pages a:hover { background-position: bottom left; color:#ffffff; text-decoration:none; text-shadow: #7fb337 1px 1px 1px; }
.navigation-pages span.current { background-position: bottom left; color:#ffffff; text-shadow: #7fb337 1px 1px 1px; }
.navigation-pages span.dots { background: none; color: #333; }

/* missing and 404 */

.notfoundtitle { line-height: 42px; font-size: 20px; color: #7fb337; background: url(../images/missing_bg.png) no-repeat; padding-left: 68px; }

/* footer */

#footer { padding: 0px 0 20px 0; text-align: center; }
#footer p { font-size: 11px; margin: 10px 0 10px 0; }
#footer .copyright { font-size: 13px; color: #fff; text-shadow: #000 1px 1px 1px; }
#footer .copyright a { color: #fff; }
#footer .copyright a:hover { color: #5491e5; }
#footer .themeauthor { color: #666; text-shadow: #222 1px 1px 1px; }
#footer .themeauthor a { color: #666; }
#footer .themeauthor a:hover { color: #5491e5; }
.form-item label {
	padding-bottom:5px;
}
#container ol {
	padding: 0px 20px;
}
ol {
	margin: 0.75em 0 1.25em
}
p {
	margin:0.6em 0 1.2em;
	padding:0px;
}
li.leaf {
	list-style-image:url(./images/sidebar_bullet.png);
	list-style-type:square;
	margin:0;
	padding:0.2em 0.5em 0 0;
}
li.collapsed {
	list-style-image:url(./images/sidebar_bullet.png);
	list-style-type:disc;
	margin:0;
	padding:0.2em 0.5em 0 0;
}
li.expanded {
	list-style-image:url(./images/sidebar_bullet.png);
	list-style-type:circle;
	margin:0;
	padding:0.2em 0.5em 0 0;
}
dl {
margin:0.5em 0 1em 1.5em;
}
dl dd {
margin:0 0 0.5em 1.5em;
}
dl dt {
	padding:5px 0;
}
.description {
	color:#898989;
	line-height:150%;
	margin-bottom:0.75em;
	margin-bottom:0.75em;
}
/*.post-tags{
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(center top , #EEEEEE, #DDDDDD);
  background-repeat: repeat-x;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.024) inset, 0 -1px rgba(0, 0, 0, 0.024) inset;
  color: #808080;
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
  
}
.post-tags a{
	color:#999999;
	text-decoration: none;
	padding:0px 6px;
}
.post-tags a:hover{
  background-color:#222222;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */
.post-tags .field-label {
  display:none;
}
.post-tags .field-item {
  float:left;
  margin-right:5px;
  margin-bottom:15px; 
   background-color: #DDDDDD;
  border-radius:10px;
  color: #CD4517;
  display: block;
  text-shadow: 0 1px 0 #FFFFFF;
  padding:0px 5px 0px 5px;
  
}
.post-tags .field-item:hover {
  float:left;
  margin-right:5px;
  margin-bottom:15px; 
   background-color:#999999;
  border-radius:10px;
  color: #CD4517;
  display: block;
  text-shadow: 0 1px 0 #FFFFFF;
  padding:0px 5px 0px 5px;
  
}

.post-tags{
 float:left;
 width:100%;
}
.post-tags a{
	color:#A82A00;
	text-decoration: none;
	font-size:12px;
	
}
.comment-delete a
 { background: url(../images/button_bg.png) no-repeat top left; width: 149px; height: 20px !important; display: block;float:left;margin-right:3px;text-align:center;text-transform:capitalize; padding-top:5px;}
}



.form-item label{
  font-weight:normal;
}
.avatar-box{
  margin-right:20px;
  float:left;
}
.comment-edit a {
  background: url(../images/button_bg.png) no-repeat top left;width:149px;height:20px;display:block;float:left;margin-right:3px;text-align:center;
  text-transform:capitalize;padding-top:5px;
}
.comment-reply a {
  background: url(../images/button_bg.png) no-repeat top left;width:149px;height:20px;display:block;float:left;text-align:center;text-transform:capitalize;padding-top:5px;
}
.comment-edit a:hover,.comment-reply a:hover,.comment-delete a:hover{
  background-position:left bottom;
}
#search-block-form{
  margin-top:7px;
}
.title { 
  font-size:16px;
  font-weight:bold;
  padding-top:20px;
}
#comment-form input[type = "text"]{
  width:574px;
}
#edit-actions input[type = "submit"]{
  margin-right:3px;
}
#comment-form input,#comment-form textarea {
  -moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	background: #d7e5c7; 
	padding: 7px; 
	border: 1px #ccc solid;
}
.comment {  
margin-bottom:20px; 
float:left;
width:100%;
}
.no-sidebars #container{
  width:860px;
}
.footer-wrapper{
 width:900px;
 margin:0px auto;
 background: #000 ;
}
.node {
  margin-top:20px;
  margin-bottom:20px;
  padding:10px 0px;
}
ul.menu {
  list-style-position:inside;
}
.region-content .links ul.inline li {
  padding-left:0px;
}
.comment-form {
  float:left;
}  
.comment-wrapper {
 float:left;
 width:620px;
}
#footer {
  color:#FFFFFF !important;
  text-shadow: none; !important;
}
#footer a {
  color:#FFFFFF !important;
  text-shadow: none; !important;
}
#footer a:hover {
  color:#5491E5 !important;
  text-shadow: none; !important;
}
#nav{
font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
background: url(../images/menu_bg.png) bottom left repeat-x; /*background of menu bar (default state)*/
width: 100%;height:39px;
}
#nav ul {
    /*float: left;*/
    padding-bottom: 15px;
    /*padding-left: 15px;*/
    padding-right: 15px;
    padding-top: 0px;text-shadow: #000 1px 1px 1px;
}
#nav li {
    float: left;
    font-weight: 400;
    list-style-type: none;
}
#nav li a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #E7E7E7;
    text-shadow: #000 1px 1px 1px;
    display: block;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    border-right: 1px solid #999;
    /*background: url(../images/menu_bg.png) bottom left repeat-x; /*background of menu items (default state)*/
}
#nav li a:hover, #nav li a:active, #nav a.active {
  /*   background: url(../images/menu_bg.png) bottom left repeat-x; /*background of menu items during onmouseover (hover state)*/
 color: #eee;
 text-shadow: #000 1px 1px 1px;
 border-bottom-color: #444;
}
#nav li a .sf-sub-indicator {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    text-indent: -9999px;
}
#nav li li a, #nav li li a:link,#nav li li a:visited {
    
    border-top-width: 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-transform: none;
    width: 140px;
}
#nav li li a:hover, #nav li li a:active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #01152A;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    
    background-size: auto auto;
    color: #FFFFFF;
}
#nav li ul {
    height: auto;
    left: -9999px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    width: 160px;
    z-index: 9999;
}
#nav li ul a {
    width: 160px;
}
#nav li ul ul {
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: -37px;
}
#nav li:hover > ul, #nav li.sfHover ul {
    left: auto;
}
#nav ul li.leaf, #nav ul li.expanded, #nav ul li.collapsed {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
#nav ul.menu li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#nav li.expanded, #nav li.collapsed, #nav li.leaf {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #636569;
  color:#ffffff;
  opacity:0.8;
}

#nav li li a:hover,
#nav li li a:active {
  background: #292929;
}

/*#nav ul li{
  border:1px 
}*/
